The header typealias bugs me

The way it is defined now it's possible to have duplicate headers in one's request or response. If headers were defined as `var headers: [String:String]` then it's a dictionary and then duplicate headers can't exist.

What do you guys think?

I'm new here, but heres my 2 cents :)

Duplicate headers are valid in RFC2616 as long as the values can be concatenated into a single comma separated header value, eg: 
`X-My-Customer-Header: Hello`
`X-My-Customer-Header: World`
is the same as:
`X-My-Customer-Header: Hello,World`

Although concatenating duplicate headers into a single header value simplifies some use cases, IMHO, this functionality belongs in a framework, and not in a gateway interface.




Exactly as @rhysmccaig mentions, the HTTP specification (RFC 2616) allows multiple headers with the same name. This is especially common and noticeable with the "Cookie" and "Set-Cookie" headers.

> Multiple message-header fields with the same field-name MAY be present in a message

A dictionary doesn't allow you to control the order of the headers. As per [RFC 2616 section 4.2](http://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2).

> The order in which header fields with differing field names are received is not significant. However, it is "good practice" to send general-header fields first, followed by request-header or response- header fields, and ending with the entity-header fields.

Also see this snippet regarding multiple headers with the same key from RFC 2616:

> The order in which header fields with the same field-name are received is therefore significant to the interpretation of the combined field value, and thus a proxy MUST NOT change the order of these field values when a message is forwarded.

I would note that the [Inquiline](https://github.com/nestproject/Inquiline) package provides extensions to RequestType and ResultType to allow a dictionary like getter/setter for headers, along with type-safe properties for common headers.

```swift
request["Content-Type"]
request.host
request.contentType
request.contentLength
request.accept
request.authorization
request.cacheControl
```

```swift
response["Cache-Control"] = "no-cache"
response.contentType = "application/json"
response.cacheControl = "no-cache"
```

I think it's important that Nest allows you to express everything that's available within the HTTP RFC and therefore I don't think changes this would make any sense. It would however be acceptable for any web frameworks on top of Nest to offer convenience mechanisms to access and set headers (such as what Inquiline provides), but still possible to maintain compatibility with the features defined within the HTTP specification.

What do you think @Evertt?

You guys have convinced me, since it's apparently in the officials specification that duplicate header keys are valid. And indeed that in that case the order of the headers also matter, which is a feature a dictionary does not provide.

Thank you for responding to my question with such elaborate answers. :-)

by the way, totally off-topic:

I'm extremely new to Swift, coming from the PHP world. I'm struggling with importing packages into my swift projects. When I try to use Carthage of CocoaPods I'm often not confident in what I'm doing and sometimes I can't get it to work. For example I try to import a package and then in my swift file I type `import SomePackage` and I get the error `module doesn't exist`.

So I'm wondering, do any of you guys know a good screencast that demonstrates how to do this so I can follow along?

If you're new / building web applications/frameworks I'd suggest you stick to SPM (Swift Package Manager) instead of CocoaPods or Carthage since it's the only option to use on Linux at the moment (and I'm sure you probably want to run your web projects on Linux).

You can take a look at a Hello world example (https://github.com/kylef/Curassow-example-helloworld) which demonstrates using SPM. There is a `Package.swift` file mentioning the dependencies.